
@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital@1&display=swap');
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body { 
    min-height: 100vh;
    font-family: 'Raleway', sans-serif;

}
.containerT{
    display: flex;
    flex-direction: row;
}
.fondoP{
    width: 100%;
 
}
.contenedorPortada{
    width: 100%;
    height: 50%;
    overflow: hidden;
    position: absolute;

    background-image: url("img/portada.png");
    background-size: cover;
    
    border-radius: 15px;
    box-shadow: 7px 13px 37px rgba(0, 0, 0, 0.4);
    flex: 50%;

}
.sliderContenedor{
    flex: 50%;
}
.titulo {

    font-size: 40px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 40px;
    color: #fff;
}

.subtitulo {
    margin-top: 100px;
    /*background-color: #b80b78;*/
    color: #000;
    /*display: inline;*/
    font-size: 5vw;
    font-weight: 500;
    text-transform: uppercase;
}

.sabor { 
    color: #fff;
    margin: 7px 0;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.7);
    font-family: 'Dancing Script', cursive;
    margin-top: 0;
}

.linea-division {
    width: 80%;
    height: 2px;
    background-color: #36221c;
}
header{
    background-color: #deb3d48b;
    width: 100%;
    box-shadow: 7px 3px 7px rgba(0, 0, 0, 0.4);
    max-height: 70px;
    border-color: #b80b78;
    align-content: center;
    margin: a;
}
.containerTitulo{
    
    display: flex;
    flex-direction: row;
    justify-content:space-around ;
    width: 100%;
    height: auto;

}
.fotoPerfil{
    /*background-color: #193451;*/
    border-radius: 50%;
    width: 70px;
    height: 70px;
   
    
    
}
.fotoPerfil img{
    width: 100%;
    overflow:hidden;
    height: auto;

}
/* Estilos para el botón circular */
.boton-circular {
    width:150px;
    height: 250px;
    background-color: #e3a446; /* Color de fondo del botón */
    color: #834747; /* Color del texto (icono) */
    border: 2px solid #000;
    border-radius: 50%; /* Hace que el botón sea circular */
    font-size: 75px;
    cursor: pointer;
}

footer {
    text-align: center; /* Centra el contenido del pie de página horizontalmente */
   /* background-color: #574c58a2;  Establece un color de fondo para el pie de página, opcional */
    color: #5b4011; /* Establece el color del texto, opcional */
    padding: 10px; /* Añade un poco de espacio alrededor del texto, opcional */
}
h3{
    font-family: 'PT Serif', serif;
    text-align: left;
    font-size: 2vw;
    color: #36221c;
}
.contUbicacion{
    margin-top: 20px;
    font-size: 1vw;
}